<!DOCTYPE html>
<html>
   <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  </head>
  <body>
      <h1> User Profile</h1>
  </body>


<div class="row">
  <div class="col-sm-12">   
     <form class = "data" action="/profile" method="post"></form>
    <div>
      {{user.username }} 
      </div>  
       <div>
      {{user.firstName}}
      </div>  
       <div>
      {{user.lastName}}
      </div>  
       <div>
      {{user.Profession}}
      </div class = "bio">  
      <div>{{user.Bio}}</div>
      
      
   </div>  
</div> 

</html>